# Note that we don't ignore .zip files, reason being that for testing purposes you'll usually want to ensure that
# others who are testing your code use the same .zip files that you do. They should probably not be committed to
# main though
*.out
*.tfstate
*.tfstate.*
.terraform.lock*
.terraform.lock.hcl
.terraform.tfstate*
.terraform/
bin/terraform
terraform-visual-report
terraform.tgz
